<div class="mission-back">
    <div class="mission">
        Inspire is here to help you start a healthier lifestyle.We provide you links to the best fitness apps, as well as dietary
        sites. Inspire is here to motivate, go to our quotes page if you ever feel doubt were here to pick you up!
    </div>
</div>
<div class="developers">
    <div class="col-md-6">
        <a href="https://www.linkedin.com/in/brian-canlas-57445813b/" target="blank">
            <img class="img-circle" src="./images/profile.jpg">
        </a>
        <label for="">Designer/Developer <br> Brian Canlas</label>
    </div>
    <div class="col-md-6">
        <a href="https://www.linkedin.com/in/james-padolina-1b3404149/" target="blank">
            <img class="img-circle" src="./images/diesel.jpg">
        </a>
        <label for="">Developer/Random Generator Specialist<br> James Padolina</label>
    </div>
</div>