<div class="parallax para1">
    
</div>

<div style="height:300px;background-color:black;font-size:26px">
    <div class="container">
        <div class="col-md-12">
            <h2>Apps to get your new lifestyle started!</h2>
            <div class="col-md-3">
                <a href="https://www.myfitnesspal.com/" target="blank">
                    <img class="img-circle" src="./images/pal.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.nike.com/us/en_us/c/training/nike-training-club" target="blank">
                    <img class="img-circle" src="./images/nike.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://virtuagym.com/software/en/mobile-app/?utm_source=google&utm_medium=cpc&utm_term=%2Bfitness%20%2Bapp&utm_campaign=US%20-%20EN%20-%20S%20-%20Apps%20%26%20Software&gclid=Cj0KEQjw3rfOBRDJruDR8Ljm7e0BEiQAam-GsDVCHYlsidmJCGqHrPNDHVlaoH9fYX9jHEI2tBMi01QaAhBt8P8HAQ" target="blank">
                    <img class="img-circle" src="./images/virtua.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.runtastic.com/en/apps" target="blank">
                    <img class="img-circle" src="./images/runtastic.jpg">
                </a>
            </div>

        </div>
    </div>
</div>

<div class="parallax para2"></div>

<div style="height:300px;background-color:black;font-size:26px">
    <div class="container">
        <div class="col-md-12">
            <h2>Sites for your dietary needs!</h2>

            <div class="col-md-3">
                <a href="http://www.eatingwell.com/" target="blank">
                    <img class="img-circle" src="./images/eatwell.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://www.fooducate.com/" target="blank">
                    <img class="img-circle" src="./images/fooducate.png">
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.eatthismuch.com/" target="blank">
                    <img class="img-circle" src="./images/eat.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://diettogo.com/" target="blank">
                    <img class="img-circle" src="./images/diet.jpg">
                </a>
            </div>

        </div>
    </div>
</div>

<div class="parallax para3"></div>

<div style="height:100px;background-color:black;font-size:26px">
</div>