<div class="fullscreen-bg">
    <video loop autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="fitness.mp4" type="video/mp4">
    </video>
</div>

<div id="container quotebody" class="quoteme">
    <h2 style="text-align:center">Get Your Daily Quote</h2>
    <div id="quoteContainer">
        <p></p>
        <p id="quoteGenius"></p>
    </div>
    <!--end quoteContainer-->

    <div id="buttonContainer">
        <a href="#" id="quoteButton">Quote Me</a>
    </div>
</div>